.cardBodyConciertos {
	color: #fff;
}

/* .ItemsConciertos div {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.mapLink {
	color: #fff;
}

.cardBodyConciertos h2 {
	text-align: center;
}

.ItemsConciertos .Notification {
	/* padding-top: 15%;
  padding-bottom: 15%; */
}

.mapLink {
	text-align: center;
}

@media (max-width: 992px) {
	.notification {
		width: 100%;
	}
}
