.cardBodyConciertos{
  color: #FFF;
}

.ItemsConciertos div{
  align-items: center;
}

.mapLink a{
  color: #FFF;
}

.cardBodyConciertos h2{
  text-align: center;
}

.ItemsConciertos .Notification{
  padding-top: 15%;
  padding-bottom: 15%;
}