.cardBodyConciertos{
    color: white;
}

.cardBodyConciertos h2{
    text-align: center;
}

.ItemsConciertos{

    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0;
}

.ItemsConciertos p{
    padding: 10px;
}


.cardBodyConciertos a{
    color: white;
}

.titleLine{
    width: 100%;
    height: 1px;
    background-color: white;
    padding: 0%;
    margin: 0%;
}

.card-text p .month{
    padding-bottom: 0;
}

.Notificarme{
    width: 130px;
    height: 60px;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.cardBodyConciertos .Notificarme {
    text-decoration: none;
    color: #EFB000;
    font-weight: 250;
    transition: background-color 0.2s ease-in-out;
    border-radius: 8px;
}

.cardBodyConciertos .Notificarme:hover {
    background-color: #EFB000;
    color: #002c45;
    transition: background-color 0.2s ease-in-out; 
  }